<h1 class="pl-4 mt-20 md:mt-0">
    <span class="text-5xl md:text-6xl text-gray-400 font-bold">FROM OUR PRESS</span>
</h1>

<div class="flex flex-wrap w-full mt-4">
    <div class="w-1/1 w-full md:w-1/3">
        <div [routerLink]="['/press/details', 'Arabian Bussiness']" class="img-container">
            <img class="w-full h-full inset-0 object-cover object-center" src="../../assets/images/arabian-business-logo.png" alt="">
            <div class="overlay">
                <div class="text">Arabian Bussiness</div>
                <div class="date">May 16, 2018 <br />START UP</div>
            </div>
        </div>
    </div>
    <div class="w-1/1 w-full md:w-1/3">
        <div [routerLink]="['/press/details', 'Arabian Bussiness']" class="img-container">
            <img class="w-full h-full inset-0 object-cover object-center" src="../../assets/images/dubai-chamber-logo.png" alt="">
            <div class="overlay">
                <div class="text">Dubai Champer</div>
                <div class="date">May 9, 2018 <br />NOMAD NEWS</div>
            </div>
        </div>
    </div>
    <div class="w-1/1 w-full md:w-1/3">
        <div [routerLink]="['/press/details', 'Arabian Bussiness']" class="img-container">
            <img class="w-full h-full inset-0 object-cover object-center" src="../../assets/images/gulf-news-logo.png" alt="">
            <div class="overlay">
                <div class="text">Gulf News</div>
                <div class="date">October 10, 2018 <br />START UP</div>
            </div>
        </div>
    </div>
    <div class="w-1/1 w-full md:w-1/3">
        <div [routerLink]="['/press/details', 'Arabian Bussiness']" class="img-container">
            <img class="w-full h-full inset-0 object-cover object-center" src="../../assets/images/bpe.jpg" alt="">
            <div class="overlay">
                <div class="text">Broadcastprome</div>
                <div class="date">January 7, 2019 <br />#NOMADNEWS</div>
            </div>
        </div>
    </div>
</div>