<div class="flex flex-wrap pl-4 md:h-screen mt-4">
    <div class="w-1/1 md:w-1/2 xl:w-2/5">
        <div class="relative">
            <div class=" absolute">
                <h1 class="block font-bold leading-none text-my-custom tracking-wide">about us</h1>
            </div>
        </div>
        <div class="pt-32">
            <img class="img-custom-size inset-0 object-cover object-left-top" src="../../assets/images/nomad-hq.jpg" alt="">
        </div>
    </div>

    <div class="w-1/1 md:w-1/2 xl:w-2/5 flex flex-col justify-center p-8">
        <p class="text-2xl text-gray-700 leading-relaxed tracking-wide">NOMAD is the first prototype of its kind in the world to serve as an integrated development with combined centres of excellence for entrepreneurship, media, culinary arts, makerspace, gaming and technology.</p>
        
        <a [routerLink]="['/about/details']" class="read-more mt-8 text-gray-900 font-semibold block">Read More <fa-icon class="pl-2" [icon]="faArrowRight"></fa-icon></a>
        <div class="flex flex-row justify-end">
            <img class="h-auto w-64 object-cover object-fill inset-0 mt-8" src="../../assets/images/mask.jpg" />
        </div>
    </div>
</div>
<h1 class="pl-4 mt-0">
    <span class="text-4xl md:text-5xl text-gray-900 font-bold">OUR PARTNERS</span>
</h1>
<div class="flex flex-col md:flex-row flex-wrap items-center mt-8">
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner1.jpg" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner2.jpg" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner3.png" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner4.png" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner5.jpg" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner6.png" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner7.jpg" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner8.jpg" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner9.png" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner10.png" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner11.jpg" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner12.jpg" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/parner13.jpg" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/parner14.png" />
    </div>
<div>
<div class="flex pb-24 w-full h-16 bg-transparent"></div>
