<div class="pl-8 mt-20 md:mt-0">
    <h1 class="text-5xl md:text-6xl text-gray-400 font-bold">UPCOMING EVENTS</h1>
    <h1 class="text-3xl leading-relaxed tracking-wider font-thin text-gray-900">View NOMAD's upcoming here</h1>
</div>
<div class="flex flex-wrap w-full">
    <div class="w-1/1 md:w-1/3 p-4 md:p-8 pt-4">
        <div [routerLink]="['/events/details', 'networking session']" class="img-container">
            <img class="w-full h-full inset-0 object-cover object-center" src="../../assets/images/event3.jpg" alt="">
            <div class="overlay">
                <div class="text tracking-wide leading-tight">NOMAD <br />networking session</div>
                <div class="date">
                    <span class="font-semibold text-2xl">October 2019</span>
                    <br />
                    <span class="text-4xl font-thin">8th - 10th</span>
                </div>
            </div>
        </div>
        <div class="mt-4 pt-2 pl-2">
            <h1 class="font-semibold text-2xl">Executive Committee</h1>
            <p class=" text-gray-700 leading-tight tracking-wider font-thin text-2xl">
                Bootcamp leaders join hands togather to build a stonger community
            </p>
        </div>
    </div>
    <div class="w-1/1 md:w-1/3 p-4 md:p-8 pt-4">
        <div [routerLink]="['/events/details', 'executive committee']" class="img-container">
            <img class="w-full h-full inset-0 object-cover object-center" src="../../assets/images/event1.jpg" alt="">
            <div class="overlay">
                <div class="text tracking-wide leading-tight">NOMAD <br />executive committee</div>
                <div class="date">
                    <span class="font-semibold text-2xl">October 2019</span>
                    <br />
                    <span class="text-4xl font-thin">8th - 10th</span>
                </div>
            </div>
        </div>
        <div class="mt-4 pt-2 pl-2">
            <h1 class="font-semibold text-2xl">Connectors</h1>
            <p class=" text-gray-700 leading-tight tracking-wider font-thin text-2xl">
                Industry access & investment oppurtinities
            </p>
        </div>
    </div>
    <div class="w-1/1 md:w-1/3 p-4 md:p-8 pt-4">
        <div [routerLink]="['/events/details', 'mentors']" class="img-container">
            <img class="w-full h-full inset-0 object-cover object-center" src="../../assets/images/event2.jpg" alt="">
            <div class="overlay">
                <div class="text tracking-wide leading-tight">NOMAD <br />mentors</div>
                <div class="date">
                    <span class="font-semibold text-2xl">October 2019</span>
                    <br />
                    <span class="text-4xl font-thin">8th - 10th</span>
                </div>
            </div>
        </div>
        <div class="mt-4 pt-2 pl-2">
            <h1 class="font-semibold text-2xl">Mentors</h1>
            <p class=" text-gray-700 leading-tight tracking-wider font-thin text-2xl">
                Training & support for members through workshops & mentorships sessions
            </p>
        </div>
    </div>
</div>