<h1 class="pl-4 mt-20 md:mt-0">
    <span class=" text-6xl text-gray-300 font-bold">OUR PARTNERS</span>
</h1>
<img class="mt-16 w-full" src="../../assets/images/partners-image.jpg" />

<div class="flex flex-col md:flex-row flex-wrap items-center mt-8">
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner1.jpg" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner2.jpg" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner3.png" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner4.png" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner5.jpg" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner6.png" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner7.jpg" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner8.jpg" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner9.png" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner10.png" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner11.jpg" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/partner12.jpg" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/parner13.jpg" />
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="object-fill w-auto inset-0" src="../../assets/images/parner14.png" />
    </div>
<div>
<div class="flex pb-24 w-full h-16 bg-transparent"></div>