<h1 class="uppercase text-5xl md:text-6xl text-gray-400 pl-4 font-bold mt-20 md:mt-0">MEDIA</h1>
<img class="img object-cover object-center inset-0 w-full mt-4" src="../../../assets/images/media-banner.jpg">
    <p class=" text-2xl text-gray-900 p-8"> State-of-the-art recording studios and video production facilities for musicians, content creators and digital influencers.
</p>
<div class="w-full pr-4">
    <a class="block text-right font-semibold" [routerLink]="['/sectors']">
        <fa-icon class="pl-2" [icon]="faArrowLeft"></fa-icon> Back 
    </a>
</div>
<div class="flex pb-24 w-full h-16 bg-transparent"></div>