<div class="pl-8 mt-20 md:mt-0">
    <h1 class="text-5xl md:text-6xl text-gray-400 font-bold">COMMUNITY</h1>
    <h1 class="text-3xl leading-relaxed tracking-wider font-thin text-gray-900">NOMAD COMMUNITY AMBASSADORS</h1>
</div>
<div class="flex flex-wrap">
    <div class="w-1/1 md:w-1/2 p-20">
        <img class="m-auto rounded-full h-40 w-40 inset-0 object-cover object-center" src="../../assets/images/megan.jpeg" />
        <h1 class="mt-4 uppercase font-semibold tracking-wider leading-relaxed text-center">MEGAN FOX</h1>
        <h2 class=" uppercase text-gray-400 text-center">MUSIC COMMUNITY AMBASSADOR</h2>
        <p class=" text-gray-900 mt-4 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <div class="text-center mt-4">
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faFacebook"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faTwitter"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faInstagram"></fa-icon></a>
        </div>
    </div>
    <div class="w-1/1 md:w-1/2 p-20">
        <img class="m-auto rounded-full h-40 w-40 inset-0 object-cover object-center" src="../../assets/images/megan.jpeg" />
        <h1 class="mt-4 uppercase font-semibold tracking-wider leading-relaxed text-center">MEGAN FOX</h1>
        <h2 class=" uppercase text-gray-400 text-center">MUSIC COMMUNITY AMBASSADOR</h2>
        <p class=" text-gray-900 mt-4 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <div class="text-center mt-4">
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faFacebook"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faTwitter"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faInstagram"></fa-icon></a>
        </div>
    </div>
</div>
<div class="pl-8 mt-40 md:mt-0">
    <h1 class="text-3xl leading-relaxed tracking-wider font-thin text-gray-900">NOMAD COMMUNITY MEMBERS</h1>
</div>
<div class="flex flex-wrap mt-16 pt-8 pb-8">
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="m-auto rounded-full h-40 w-40 inset-0 object-cover object-center" src="../../assets/images/alba.jpeg" />
        <h1 class="mt-4 uppercase font-semibold tracking-wider leading-relaxed text-center">MEGAN FOX</h1>
        <h2 class=" uppercase text-gray-400 text-center">MUSIC COMMUNITY AMBASSADOR</h2>
        <p class=" text-gray-900 mt-4 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <div class="text-center mt-4">
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faFacebook"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faTwitter"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faInstagram"></fa-icon></a>
        </div>
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="m-auto rounded-full h-40 w-40 inset-0 object-cover object-center" src="../../assets/images/alba.jpeg" />
        <h1 class="mt-4 uppercase font-semibold tracking-wider leading-relaxed text-center">MEGAN FOX</h1>
        <h2 class=" uppercase text-gray-400 text-center">MUSIC COMMUNITY AMBASSADOR</h2>
        <p class=" text-gray-900 mt-4 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <div class="text-center mt-4">
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faFacebook"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faTwitter"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faInstagram"></fa-icon></a>
        </div>
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="m-auto rounded-full h-40 w-40 inset-0 object-cover object-center" src="../../assets/images/alba.jpeg" />
        <h1 class="mt-4 uppercase font-semibold tracking-wider leading-relaxed text-center">MEGAN FOX</h1>
        <h2 class=" uppercase text-gray-400 text-center">MUSIC COMMUNITY AMBASSADOR</h2>
        <p class=" text-gray-900 mt-4 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <div class="text-center mt-4">
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faFacebook"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faTwitter"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faInstagram"></fa-icon></a>
        </div>
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="m-auto rounded-full h-40 w-40 inset-0 object-cover object-center" src="../../assets/images/alba.jpeg" />
        <h1 class="mt-4 uppercase font-semibold tracking-wider leading-relaxed text-center">MEGAN FOX</h1>
        <h2 class=" uppercase text-gray-400 text-center">MUSIC COMMUNITY AMBASSADOR</h2>
        <p class=" text-gray-900 mt-4 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <div class="text-center mt-4">
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faFacebook"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faTwitter"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faInstagram"></fa-icon></a>
        </div>
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="m-auto rounded-full h-40 w-40 inset-0 object-cover object-center" src="../../assets/images/alba.jpeg" />
        <h1 class="mt-4 uppercase font-semibold tracking-wider leading-relaxed text-center">MEGAN FOX</h1>
        <h2 class=" uppercase text-gray-400 text-center">MUSIC COMMUNITY AMBASSADOR</h2>
        <p class=" text-gray-900 mt-4 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <div class="text-center mt-4">
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faFacebook"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faTwitter"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faInstagram"></fa-icon></a>
        </div>
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="m-auto rounded-full h-40 w-40 inset-0 object-cover object-center" src="../../assets/images/alba.jpeg" />
        <h1 class="mt-4 uppercase font-semibold tracking-wider leading-relaxed text-center">MEGAN FOX</h1>
        <h2 class=" uppercase text-gray-400 text-center">MUSIC COMMUNITY AMBASSADOR</h2>
        <p class=" text-gray-900 mt-4 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <div class="text-center mt-4">
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faFacebook"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faTwitter"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faInstagram"></fa-icon></a>
        </div>
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="m-auto rounded-full h-40 w-40 inset-0 object-cover object-center" src="../../assets/images/alba.jpeg" />
        <h1 class="mt-4 uppercase font-semibold tracking-wider leading-relaxed text-center">MEGAN FOX</h1>
        <h2 class=" uppercase text-gray-400 text-center">MUSIC COMMUNITY AMBASSADOR</h2>
        <p class=" text-gray-900 mt-4 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <div class="text-center mt-4">
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faFacebook"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faTwitter"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faInstagram"></fa-icon></a>
        </div>
    </div>
    <div class="w-1/1 md:w-1/4 p-4">
        <img class="m-auto rounded-full h-40 w-40 inset-0 object-cover object-center" src="../../assets/images/alba.jpeg" />
        <h1 class="mt-4 uppercase font-semibold tracking-wider leading-relaxed text-center">MEGAN FOX</h1>
        <h2 class=" uppercase text-gray-400 text-center">MUSIC COMMUNITY AMBASSADOR</h2>
        <p class=" text-gray-900 mt-4 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <div class="text-center mt-4">
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faFacebook"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faTwitter"></fa-icon></a>
            <a href="" class="p-2"><fa-icon class="text-2xl" [icon]="faInstagram"></fa-icon></a>
        </div>
    </div>
</div>