<div class="flex flex-wrap md:pl-4 md:h-screen">
    <div class="md:w-1/2 w-full h-full flex flex-col justify-center">
        <img class="pt-24 md:p-0 img-custom-size inset-0 object-cover object-center" src="../../assets/images/event1.jpg" alt="">
    </div>

    <div class="md:w-1/2 flex flex-col justify-center w-full m-0 p-4">
        <h1 class="atext-gray-900 block font-bold text-6xl capitalize leading-relaxed text-my-custom tracking-wide">{{event}}</h1>
        <p class="text-gray-700 leading-relaxed">
            NOMAD is the first prototype of its kind in the world to serve as an integrated development with combined centres of excellence for entrepreneurship, media, culinary arts, makerspace, gaming and technology.
        </p>
        <p class="text-gray-700 leading-relaxed mt-4">
            Operating as a global membership model, the NOMAD community will have access to production studios, co-working and co-housing spaces, events and accelerator programmes on site along with a network of mentors, investors and industry partners.
        </p>
        <p class="text-gray-700 leading-relaxed mt-4">
            Located near Dubai Outlet Mall, the comprehensive development by Al Ahli Holding Group comprises of a 1 million square foot infrastructure.
        </p>

        <div class="w-full pr-4 mt-16">
            <a [routerLink]="['/events']" class="block text-right font-semibold">
                <fa-icon class="pl-2" [icon]="faArrowLeft"></fa-icon> Back
            </a>
        </div>
    </div>
</div>
<div class="flex pb-24 w-full h-16 bg-transparent"></div>