<div class="relative">
    <div class="absolute w-full h-screen">
        <div class="flex h-screen flex-col justify-center">
            <div class="px-16 md:w-2/3">
                <h1 class="highlight pl-2 text-4xl tracking-wide leading-tight text-white font-semibold uppercase">Where success is co-created</h1>
                <h1 class="highlight pl-2  text-4xl tracking-wide leading-tight text-white font-semibold uppercase">Launching in Dubai in 2019</h1>
                <p class="highlight pl-2  mt-8 md:text-2xl tracking-wide leading-tight text-white">An entrepreurial ecosystem built for you</p>
                <p class="highlight pl-2  mt-2 md:text-2xl tracking-wide leading-tight text-white">A platform for global talent and the creative community to collaborate and fuel innovation</p>
            </div>
        </div>
    </div>
  </div>
<img class="h-screen w-full object-cover object-center" src="../../assets/images/home.jpg" alt="">