<div class="flex flex-wrap">
    <div class="w-full md:w-1/2">
        <app-nomad-video class="h-screen w-full"></app-nomad-video>
    </div>
    <div class="w-full md:w-1/2">
        <div class="img-container">
            <div class="overlay"></div>
            <div class="overlay_green"></div>
            <div class="text">
                <img src="../../assets/images/munsic_bootcamp_logo_white.png" />
                <p class="pl-2  mt-2 md:text-2xl tracking-wide leading-tight text-white">A platform for global talent and the creative community to collaborate and fuel innovation</p>
            </div>
            <img class="h-full md:h-screen w-full object-cover object-center" src="../../assets/images/home_bg.jpeg" alt="">
        </div>
    </div>
</div>